.git*
.env*
.bundle
log/*
tmp/*
./**/node_modules
/node_modules/
yarn-error.log
Dockerfile
README.md
test/*
spec/*
features/*
vendor/bundle

doc/*
charts/*
.sass-cache/

.idea
.vscode/
coverage/

public/assets/*
public/system/*
public/uploads/*
**/.DS_Store
